@font-face{
    font-family: "street-fighter";
    src:url("../fonts/comic.otf");
}

.brand-logo{
    margin-top:-7px;
}
.profile{
    height: 35px;
}
body{
    background-image: url("../images/texturedarker-sm.jpg");
    background-repeat: repeat;
}
.container{
    background-color: whitesmoke;
    clear: both;
}
.navbar-inverse{
    background-image: -webkit-linear-gradient(top,#4C3A1F 0,#261500 100%);
}
.spinner{
    background-image: url("../images/spinner.svg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;
    background-position-y: -20px;
    height:100%;
    width:100%;
    position:absolute;
    top:0px;
    z-index: 50;
}
.top-fade{
    background-image: url("../images/topfade.png");
    background-repeat: repeat-x;
    height: 200px;
    width: 100%;
    position:absolute;
    top:0px;
    z-index: 150;
}
.bottom-fade{
    background-image: url("../images/bottomfade.png");
    background-repeat: repeat-x;
    height: 200px;
    width: 100%;
    position:absolute;
    bottom:0px;
    z-index: 151;
}
.point{
    cursor: pointer;
}
.timer{
    color:white;
    font-size: 60px;
}
.btn-facebook{
    background-color: #3b5998;
    color: #fff;
}
.container{
    padding-bottom: 15px;
}
.list-group > a.disabled {
  color: #666;
}
.list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled:hover {
  color: #666;
  text-decoration: none;
  background-color: transparent;
  cursor:default;
}
.verses{
    -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
   font-family:street-fighter;
    position:absolute;
    left:47%;
    font-size:50px;
    z-index: 30;
}
.pl1{
    position: absolute;
    left: 44%;
}
.pl2{
    position: absolute;
    left:50%;
}
.marker-left{
    position:absolute;
    top:47%;
    left:34%;
    z-index: 500;
    height:50px;
}
.marker-right{
    position:absolute;
    top:47%;
    right:34%;
    z-index: 500;
    height:50px;
}